RewriteEngine On

# Pass Authorization header to PHP
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

# El CORS lo manejamos desde PHP para evitar duplicados o errores si mod_headers no está activo
